@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}
body {
    font-family: 'Nanum Gothic', sans-serif;
}
/*----------------------------------------------------popup*/
#popup {
    width: 100%;
}
#popup .popup_inner {
    position: relative;
    height: 90px;
    background: url('./../images/4CXE7VW5IrcDuFGi_20190430.jpg') no-repeat center top;
    background-size: 2560px;
}
#popup .popup_inner .btn_close {
    display: block;
    width: 19px;
    height: 19px;
    background: url('./ima: ;ges/btn_top_banner_close.png') no-repeat;
    outline: none;
    border: none;
    cursor: pointer;
    text-indent: -99999px;
    position: absolute;
    left: 73%;
    top: 33px;
}
/*----------------------------------------------------header*/
#header_wrap {
    width: 100%;
    position: relative;
}
#header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: url('./../images/header_bg.png') repeat-x;
    z-index: 99998;
}
#header .header_inner {
    position: relative;
    width: 1000px;
    height: 103px;
    margin: 0 auto;
    z-index: 99998;
}
/*-------------------------------------------------------util*/
#header .header_inner .util {
    float: right;
    margin-top: 15px;
}
#header .header_inner .util li {
    float: left;
    margin-left: 25px;
}
#header .header_inner .util .util_4 {
    margin-left: 10px;
}
#header .header_inner .util .util_3 a,
#header .header_inner .util .util_4 a {
    display: block;
    line-height: 23px;
    text-align: center;
}
#header .header_inner .util .util_3 a {
    width: 63px;
    height: 23px;
    background: url('./../images/util_aca_bg.png') no-repeat;
    color: #000;
}
#header .header_inner .util .util_3 a:hover {
    color: #000;
}
#header .header_inner .util .util_4 a {
    width: 112px;
    height: 23px;
    background: url('./../images/util_app_bg.png') no-repeat;
    color: #fff;
}
#header .header_inner .util li a {
    color: #a2a1a2;
    font-size: 12px;
    font-weight: 700;
}
#header .header_inner .util li a:hover {
    color: #fff;
}
/*------------------------------------------------------logo*/
#header_wrap .logo {
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -51px;
    z-index: 99999;
}
#header_wrap .logo a {
    display: block;
    text-indent: -99999px;
    background: url('./../images/logo.png') no-repeat;
    width: 101px;
    height: 101px;
}
/*---------------------------------------------------------gnb*/
#header .header_inner .gnb {
    clear: right;
    float: left;
    margin-top: 14px;
    z-index: 99998;
}
#header .header_inner .gnb > li {
    position: relative;
    float: left;
}
#header .header_inner .gnb .gnb_4 {
    margin-right: 139px;
}
#header .header_inner .gnb > li > a {
    display: block;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-weight: 700;
    padding: 0 22px;
}
#header .header_inner .gnb > li:hover > a {
    color: #8b4db3;
}
#header .header_inner .gnb > li::before {
    content: '';
    width: 1px;
    height: 12px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 19px;
}
#header .header_inner .gnb > .gnb_1::before,
#header .header_inner .gnb > .gnb_5::before {
    background: none;
}
/*-------------------------------------------------------depth2*/
#header .header_inner .gnb > li .depth2 {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 267px;
    padding: 12px 0;
    display: none;
    z-index: 99998;
}
#header .header_inner .gnb > li .depth2 li {
    text-align: center;
    line-height: 26px;
}
#header .header_inner .gnb > li .depth2 li a {
    display: block;
    font-size: 13px;
    color: #919191;
}
#header .header_inner .gnb > li .depth2 li a:hover {
    background: #a2dfde;
    color: #3f3f3f;
}
/*--------------------------------------------------------slider*/
#slider .slider_box li a {
    display: block;
    height: 620px;
    margin: 0 auto;
}
#slider .slider_box .l1 a {
    background: url('./../images/aXv9lZf28wYWghoS_20190531.jpg') no-repeat center top;
    background-size: 2560px;
}
#slider .slider_box .l2 a {
    background: url('./../images/SxL7gFpPmDhI6iVQ_20190430 (1).jpg') no-repeat center top;
    background-size: 2560px;
}
#slider .slider_box .l3 a {
    background: url('./../images/9tJ0DxpSKVLzITqP_20180222 (1).jpg') no-repeat center top;
    background-size: 2560px;
}
#slider .slider_box .l4 a {
    background: url('./../images/VCwDjtlryWp432ON_20171106 (1).jpg') no-repeat center top;
    background-size: 2560px;
}
#slider .slider_box .l5 a {
    background: url('./../images/sMkbYCLarlo0f7Ow_20160204.jpg') no-repeat center top;
    background-size: 2560px;
}
#slider .slider_box .l6 a {
    background: url('./../images/6OM7BRCGhliYwztX_20161212.jpg') no-repeat center top;
    background-size: 2560px;
}
/*------------------------------------------------------section1*/
#section1 .section_inner {
    width: 1000px;
    height: 416px;
    margin: 0 auto;
}
#section1 .section_inner div {
    float: left;
    text-align: center;
}
#section1 .section_inner .story h2 {
    margin-bottom: 10px;
    color: #3f3f3f;
    font-size: 30px;
}
#section1 .section_inner .story h3 {
    margin-bottom: 15px;
    color: #4c4a4b;
    font-size: 14px;
}
/*------------------------------------------------------section2*/
#section2 {
    width: 100%;
    background: #f6f1e8;
}
#section2 .section_inner {
    width: 1000px;
    height: 594px;
    padding: 50px 0px 85px;
    margin: 0 auto;
}
#section2 .section_inner h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
    background: url('./../images/main_menu_title_line.png') no-repeat center center;
    color: #4c4a4b;
}
#section2 .section_inner .l_box {
    float: left;
    background: url('./../images/main_menu_best_bg.png') no-repeat right top;
}
#section2 .section_inner .r_box {
    float: right;
}
#section2 .section_inner .r_box .r_box_inner {
    width: 420px;
    height: 494px;
    text-align: center;
}
#section2 .section_inner .r_box .r_box_inner li {
    float: left;
    margin: 0 10px 10px 0;
    background: #fff url('./../images/main_menu_ico_new.png') no-repeat 95% 5%;
}
#section2 .section_inner .r_box .r_box_inner .l_2,
#section2 .section_inner .r_box .r_box_inner .l_4 {
    margin-right: 0;
}
#section2 .section_inner .r_box .r_box_inner li a {
    position: relative;
    display: block;
    width: 205px;
    height: 242px;
}
#section2 .section_inner .r_box .r_box_inner li a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border: 0px solid #ffb41f;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: all 0.3s ease;
}
#section2 .section_inner .r_box .r_box_inner li:hover a::after {
    border-width: 5px;
}
#section2 .section_inner .r_box .r_box_inner li a img {
    width: 179px;
    height: 179px;
}
#section2 .section_inner .r_box .r_box_inner li a h3 {
    width: 205px;
    font-size: 15px;
    color: #4c4a4b;
}
#section2 .section_inner .r_box .r_box_inner li a h4 {
    font-size: 14px;
    color: #777;
}
/*------------------------------------------------------section3*/
#section3 {
    width: 100%;
    background: #423333;
}
#section3 .section_inner {
    position: relative;
    width: 1000px;
    height: 216px;
    margin: 0 auto;
}
#section3 .section_inner p {
    position: absolute;
    left: 50%;
    top: -30%;
    margin-left: -190px;
}
#section3 .section_inner h2 {
    padding-top: 46px;
    font-size: 32px;
    color: #fff;
}
#section3 .section_inner h3 {
    margin-top: 10px;
    font-size: 14px;
    color: #949494;
}
#section3 .section_inner h4 {
    margin-top: 26px;
}
#section3 .section_inner h4 a {
    display: block;
    font-size: 12px;
    color: #c7c7c9;
    background: #1d1a1a;
    width: 98px;
    height: 23px;
    line-height: 23px;
    text-align: center;
}
/*------------------------------------------------------section4*/
#section4 {
    width: 100%;
    background: #fff;
}
#section4 .section_inner {
    width: 1000px;
    height: 410px;
    padding: 80px 0;
    margin: 0 auto;
}
#section4 .section_inner .banner_slide {
    width: 250px;
    height: 410px;
    float: left;
}
#section4 .section_inner .banner_slide .slick-dots {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
#section4 .section_inner .banner_slide .slick-dots li {
    display: inline;
    margin: 0 2px;
}
#section4 .section_inner .banner_slide .slick-dots li button {
    width: 14px;
    height: 14px;
    text-indent: -99999px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 14px;
    background: #fff;
    opacity: #ccc;
}
#section4 .section_inner .banner_slide .slick-dots .slick-active button {
    background: url('./../images/main_article_pager_on.png') no-repeat;
}
#section4 .section_inner .box_1 {
    float: left;
}
#section4 .section_inner .box_1 > a {
    display: block;
}
#section4 .section_inner .box_1 div {
    position: relative;
    width: 241px;
    height: 168px;
    padding: 36px 0 0 30px;
}
#section4 .section_inner .box_1 h2 {
    color: #fff;
    font-size: 26px;
    margin-bottom: 20px;
}
#section4 .section_inner .box_1 h3 {
    color: #c6c6c6;
    font-size: 14px;
}
#section4 .section_inner .box_1 .btn {
    position: absolute;
    right: 10%;
    top: 15%;
    display: block;
    width: 27px;
    height: 27px;
    background: url('./../images/btn_main_article_type1.png') no-repeat;
    text-indent: -99999px;
    border: none;
    outline: none;
    cursor: pointer;
}
#section4 .section_inner .box_1 .t_box_1 {
    background: #6c5648;
}
#section4 .section_inner .box_1 .t_box_2 {
    background: #f7f7f7;
    height: 170px;
}
#section4 .section_inner .box_1 .t_box_2 h2 {
    color: #4c4a4b;
}
#section4 .section_inner .box_1 .t_box_2 h3 {
    color: #4c4a4b;
}
#section4 .section_inner .box_1 .t_box_2 .btn {
    background: url('./../images/btn_main_article_type2.png') no-repeat;
}
#section4 .section_inner .box_2 {
    position: relative;
    float: right;
}
#section4 .section_inner .box_2 .t_box_3 {
    position: absolute;
    right: 0;
    bottom: 4px;
    padding: 26px 0 0 30px;
    width: 221px;
    height: 179px;
    background: #424242;
}
#section4 .section_inner .box_2 .t_box_3 h2 {
    font-size: 26px;
    color: #fff;
    margin-bottom: 20px;
}
#section4 .section_inner .box_2 .t_box_3 h3 {
    font-size: 14px;
    color: #fff;
}
#section4 .section_inner .box_2 .t_box_3 .btn {
    font-size: 14px;
    color: #fff;
    position: absolute;
    right: 10%;
    top: 15%;
    display: block;
    width: 27px;
    height: 27px;
    background: url('./../images/btn_main_article_type1.png') no-repeat;
    text-indent: -99999px;
    border: none;
    outline: none;
    cursor: pointer;
}
/*section5*/
#section5 {
    width: 100%;
    background: #f1f1f1;
}
#section5 .section_inner {
    width: 1000px;
    height: 417px;
    padding: 60px 0 50px;
    margin: 0 auto;
}
#section5 .section_inner .btn_tab {
    height: 54px;
    border-bottom: 2px solid #333;
}
#section5 .section_inner .btn_tab li {
    float: left;
}
#section5 .section_inner .btn_tab .tab2 {
    margin-left: -2px;
}
#section5 .section_inner .btn_tab li a {
    display: block;
    width: 240px;
    height: 52px;
    line-height: 52px;
    font-size: 17px;
    color: #706e6f;
    font-weight: bold;
    text-align: center;
    border: 2px solid #e1e1e1;
    border-bottom: none;
}
/*on class*/
#section5 .section_inner .btn_tab li.on a {
    position: relative;
    border-color: #333;
    height: 54px;
    background: #f1f1f1;
}
#section5 .section_inner .content {
    position: relative;
}
#section5 .section_inner .content .list {
    margin-top: 30px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}
#section5 .section_inner .content .list li {
    float: left;
    margin-right: 17px;
    width: 237px;
    height: 335px;
    background: #fff;
    box-shadow: 2px 2px 2px #ccc;
}
#section5 .section_inner .content .list .l_4 {
    margin-right: 0;
}
#section5 .section_inner .content .list li > a {
    position: relative;
    display: block;
    width: 237px;
    overflow: hidden;
}
#section5 .section_inner .content .list li a .img_1 {
    margin-left: 20px;
}
#section5 .section_inner .content .list li a h2 {
    display: inline-block;
    padding: 24px 0 18px 5px;
    color: #404040;
    font-size: 16px;
}
#section5 .section_inner .content .list li a h2 .s_1 {
    font-size: 12px;
    color: #848484;
}
#section5 .section_inner .content .list li a h2 .s_2 {
    margin-left: 10px;
    font-size: 12px;
    color: #848484;
    vertical-align: middle;
    letter-spacing: -1px;
}
#section5 .section_inner .content .list li a h2 .s_2 .img_2 {
    margin-right: 5px;
    vertical-align: middle;
}
#section5 .section_inner .content .list li a .mask {
    width: 100%;
    height: 137px;
    overflow: hidden;
}
#section5 .section_inner .content .list li a .mask .img_3 {
    width: 100%;
}
#section5 .section_inner .content .list li a h3 {
    width: 100%;
    background: #fff;
    font-size: 13px;
    padding: 18px 20px;
    color: #706e6f;
    line-height: 20px;
}
#section5 .section_inner .content .list_2,
#section5 .section_inner .content .list_3,
#section5 .section_inner .content .list_4 {
    display: none;
}
/*footer*/
#footer {
    width: 100%;
    background: #444;
}
#footer .footer_inner {
    height: 118px;
    width: 1000px;
    margin: 0 auto;
}
#footer .footer_inner .logo {
    float: left;
    margin: 28px 20px 0 0;
}
#footer .footer_inner .logo a {
    display: block;
    width: 62px;
    height: 62px;
    text-indent: -99999px;
    background: url('./../images/ft_logo.gif') no-repeat;
}
#footer .footer_inner .text_a {
    float: left;
}
#footer .footer_inner .text_a .text_a1 {
    float: left;
    margin-top: 28px;
}
#footer .footer_inner .text_a .text_a1 li {
    float: left;
    margin-right: 24px;
}
#footer .footer_inner .text_a .text_a1 li a {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}
#footer .footer_inner .text_a .text_a2 {
    float: left;
    margin-top: 28px;
}
#footer .footer_inner .text_a .text_a2 li {
    float: left;
    margin-right: 10px;
}
#footer .footer_inner .text_a .text_a2 li a {
    display: block;
    border-radius: 23px;
    padding: 3px 17px;
    background: #2f2f2f;
    font-size: 13px;
    color: #adadad;
    font-weight: bold;
}
#footer .footer_inner .text_a .text_a3 {
    float: right;
    margin: 18px 0 0 67px;
}
#footer .footer_inner .text_a .text_a3 li {
    float: left;
    margin-left: 10px;
}
#footer .footer_inner .text_b {
    float: left;
    clear: right;
    margin-top: 10px;
}
#footer .footer_inner .text_b p {
    float: left;
    color: #a3a3a3;
    font-size: 12px;
    line-height: 18px;
}
#footer .footer_inner .text_b .sns {
    float: right;
    margin-left: 247px;
}
