@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&display=swap');
body{font-family: 'Noto Sans KR', sans-serif;}
body.on{overflow:hidden;}
/*----------------------------------------------------------------------------------header*/
#wrap{min-width:320px;height: 100%;position: relative;}
#wrap.on{overflow:hidden;}
#cover{position:fixed;left: 0;top: 0;bottom: 0;right: 0;background:rgba(0,0,0,0.7);display:none;z-index:9999;}
header{border-bottom: 1px solid #d2d2d2;background:#fff;width: 100%;height: 60px;}
header .btn_menu{width: 24px;height: 24px;background: url("./../images/m_btn.png")no-repeat;text-indent: -9999px;border: none;background-size: 24px;position: absolute;left: 16px;top: 18px;cursor: pointer;outline: none}
header>.btn_search{width: 24px;height: 24px;background: url("./../images/m_search.png")no-repeat;text-indent: -9999px;border: none;background-size: 24px;position: absolute;right: 16px;top: 18px;cursor: pointer;outline: none;}
header>.btn_search.on{background:url('./../images/close.png')no-repeat;background-size:24px;}
header .logo{text-align: center;padding-top: 21px;}
header .logo img{width: 79px;}
header .modal_search{position:fixed;left: 0;top: 60px;bottom:0;width: 100%;background:#fff;z-index:99999;display:none;}
header .modal_search .search_wrap{width: 100%;height: 75px;background-image:linear-gradient(to right,#86179d,#4601aa);background-image:-webkit-linear-gradient(to right,#86179d,#4601aa);}
header .modal_search .search_wrap fieldset{width: 213px;margin:0 auto;border-bottom:3px solid #fff;box-sizing:border-box;position: relative;padding-top:14px;}
header .modal_search .search_wrap legend{position: absolute;top: -99999px;}
header .modal_search .search_wrap input{width: 213px;height: 22px;border:none;background:none;padding:11px 46px 11px 11px;outline:none;color:#fff;}
header .modal_search .search_wrap input::placeholder{font-size:14px;color:rgba(255,255,255,0.2);font-weight:500;}
header .modal_search .search_wrap .btn_reset{display:none;width: 18px;height: 18px;background:url('./../images/ico-close-circle.png')no-repeat;background-size:18px;border:none;cursor:pointer;outline:none;text-indent:-99999px;position: absolute;right:40px;bottom:12px;}
header .modal_search .search_wrap .btn_search{width:22px;height:21px;background:url('./../images/ico-search-white.png')no-repeat;background-size:22px;border:none;cursor:pointer;outline:none;text-indent:-99999px;position: absolute;right:10px;bottom: 8px;}
header .modal_search .recommend{width: 100%;position: absolute;top: 75px;bottom: 0;left: 0;overflow:auto;padding-top:32px;text-align:center;}
header .modal_search .recommend dt{font-size:16px;color:#4400aa;padding-bottom:20px;}
header .modal_search .recommend dd a{display:block;font-size:15px;padding:10px 0;color:#000;}
header .modal_search .cover{position: absolute;left: 0;top: 75px;width: 100%;height: 100%;background:rgba(0,0,0,0.8);display:none;}
header .menu{width:calc(100% - 16px);height: 100%;position: fixed;left: 0;top: 0;background: #fff;transform:translateX(-100%);transition:all 0.4s ease;z-index:99999;}
header .menu.on{transform:translateX(0);}
header .menu .top_menu{border-bottom:1px solid #d2d2d2;}
header .menu .top_menu .util{overflow:hidden;padding-left:16px;}
header .menu .top_menu .util li{float:left;}
header .menu .top_menu .util li a{position: relative;display:block;line-height:60px;height: 60px;font-size:12px;color:#000;padding:0 8px;}
header .menu .top_menu .util .l_1 a{padding:0 8px 0 0;}
header .menu .top_menu .util li a::before{content:'';position: absolute;left: 0;top: 25px;width: 1px;height: 12px;background:#d2d2d2;}
header .menu .top_menu .util .l_1 a::before{background:none;}
header .menu .top_menu .btn_close{position: absolute;right:16px;top:24px;width: 15px;height: 15px;background:url('./../images/btn_close.png')no-repeat;background-size:15px;text-indent:-99999px;border:none;outline:none;cursor:pointer;}
header .menu .mid_menu{width: 100%;border-bottom:1px solid #d2d2d2;}
header .menu .mid_menu .member{overflow:hidden;padding-left:16px;}
header .menu .mid_menu .member li{float:left;}
header .menu .mid_menu .member li a{line-height:50px;height: 50px;display:block;font-size:12px;font-weight:500;color:#767676;letter-spacing:-0.5px;padding:0 10px;position: relative;}
header .menu .mid_menu .member li.on a{color:#000;}
header .menu .mid_menu .member .l_1 a{padding-left:0;}

header .menu .mid_menu .member .l_1 a::after{content:'';position:absolute;right: 0;top:19px;width: 1px;height: 12px;background:#d2d2d2;}
header .menu .bot_menu{position: absolute;left: 0;top: 111px;height: 100%;width: 100%;overflow:auto;background: #4400aa;}
header .menu .bot_menu .l_tab{padding-left:16px;position: absolute;left: 0;width: 140px;top: 0;bottom: 0;z-index:99999;}
header .menu .bot_menu .l_tab .btn_tab li a{display:block;color:rgba(255,255,255,0.5);font-size:14px;line-height:60px;}
header .menu .bot_menu .l_tab .btn_tab li.on a{color:rgba(255,255,255,1);}
header .menu .bot_menu .l_tab .calc{display:block;height: 60px;line-height:60px;width: 120px;color:#fff;font-size:14px;font-weight:500;border-top:1px solid rgba(255,255,255,0.5);border-bottom:1px solid rgba(255,255,255,0.5);background:url('./../images/arrow2.png')no-repeat right 53%;background-size:6px;}
header .menu .bot_menu .tab_con .r_tab{position: absolute;left: 150px;right: 0;top: 0;height: 100%;background:#fff;padding:0 16px;overflow:auto;}
header .menu .bot_menu .tab_con .r_tab .tit{display:block;border-bottom:1px solid #ccc;line-height:50px;height: 50px;color:#000;font-size:14px;font-weight:bold;background:url('./../images/arroww.png')no-repeat right center;background-size:6px;}
header .menu .bot_menu .tab_con .r_tab>.con>li>a{display:block;height: 50px;line-height:50px;font-size:14px;color:#000;font-weight:500;}
header .menu .bot_menu .tab_con .r_tab.active>.con>li>a{background:url('./../images/plus.png')no-repeat right center;background-size:10px;}
header .menu .bot_menu .tab_con .r_tab.active>.con>li.on>a{background:url('./../images/--.png')no-repeat right center;background-size:10px;}
header .menu .bot_menu .tab_con .r_tab.active>.con>li.none>a{background:none;}
header .menu .bot_menu .tab_con .r_tab>.con>li .depth2{display:none;}
header .menu .bot_menu .tab_con .r_tab>.con>li .depth2 li a{display:block;height: 50px;line-height:50px;font-size:14px;color:#767676;}
/*----------------------------------------------------------------------------------main*/
main nav{height: 50px;border-bottom: 1px solid #f0f1f3;text-align: center;}
main nav li{display: inline-block;}
main nav li a{display: block;line-height: 50px;font-size: 16px;color: #000;padding: 0 12px;font-weight: bold;}
.main_slider .swiper-slide{position: relative;}
.main_slider .swiper-slide a img{width: 100%;}
.main_slider .swiper-pagination{width:auto;height: 25px;margin-top: 0;margin-left: 0;padding: 0 10px;border-radius: 13px;line-height: 25px;left: 50%;bottom:18px;background-color: rgba(0,0,0,0.4);}
.main_slider .swiper-pagination .swiper-pagination-bullet{width: 7px;height: 7px;margin:10px 5px 0;border-radius: 50%;background-color: #fff;transition: all .3s;}
.main_slider .swiper-pagination .swiper-pagination-bullet-active{width: 9px;height: 9px;margin: 8px 5px 0;}
.main_slider .btn_slider{width: 23px;height: 23px;background: url("./../images/btn-slider-pause.png")no-repeat;text-indent: -9999px;border: none;background-size: 23px;position: absolute;bottom: 20px;left: 50%;z-index: 100;margin-left: -40px;cursor: pointer;outline: none;}
.main_slider .btn_slider.on{background: url("./../images/btn-slider-play.png")no-repeat;background-size: 23px;}
/*----------------------------------------------------------------------------------section_1*/
main .section_1{padding:40px 0;}
main .section_1 h2{font-weight: bold;text-align: center;font-size: 16px;}
main .section_1 .p_wrap{margin-top: 20px;text-align: center;}
main .section_1 .p_wrap li{display: inline-block;margin: 0 10px;}
main .section_1 .p_wrap li:nth-child(3){padding-top: 12px;}
main .section_1 .p_wrap li:nth-child(3) h3{padding-top: 12px;}
main .section_1 .p_wrap li a{display: block;color: #000;}
main .section_1 .p_wrap li a img{width: 49px;}
main .section_1 .p_wrap li h3{margin-top: 11px;font-size: 14px;}
/*----------------------------------------------------------------------------------section_2*/
main .section_2{padding:35px 0;background:#f2f2f2;text-align:center;}
main .section_2 .simul{margin-top:23px;}
main .section_2 .simul img{width: 240px;}
main .section_2 h2{font-size:18px;font-weight:bold;}
main .section_2 h3{font-size:12px;margin-top:8px;}
/*----------------------------------------------------------------------------------section_3*/
main .section_3{width: 100%;padding:36px 50px;text-align:center;box-sizing:border-box;}
main .section_3 h2{font-size:18px;color:#000;font-weight:500;padding-bottom:20px;}
main .section_3 .service{overflow:hidden;}
main .section_3 .service li{float:left;width: 50%;padding-bottom:36px;}
main .section_3 .service li h3{padding:10px 0 8px 0;font-size:14px;color:#000;line-height:20px;}
main .section_3 .service li h4{font-size:12px;color:#8c8c8c;}
/*----------------------------------------------------------------------------------section_4*/
main .section_4{width: 100%;height: 160px;background-image:linear-gradient(to right,#86179e,#4601aa);}
main .section_4 h2{font-size:18px;font-weight:500;color:#fff;text-align:center;padding:40px 0 12px;}
main .section_4 .search_box{width: 250px;margin:0 auto;height: 50px;border-bottom:2px solid #fff;position: relative;box-sizing:border-box;}
main .section_4 .search_box legend{position: absolute;top:-99999px;}
main .section_4 .search_box input{border:none;background:none;width: 210px;height: 50px;line-height:50px;color:#fff;font-size:16px;}
main .section_4 .search_box input::placeholder{color:#fff;font-size:16px;}
main .section_4 .search_box .btn_search{width: 18px;height:22px;background:url('./../images/search4.png')no-repeat center center;background-size:18px;border:none;text-indent:-99999px;cursor:pointer;outline:none;position: absolute;right: 0;top: 16px;}
/*----------------------------------------------------------------------------------section_8*/
main .section_8{position: relative;width: 100%;background:#7a7a7a url('./../images/bg-why-top.jpg')no-repeat center top;padding-bottom:36px;background-size:cover;}
main .section_8 .text h2{text-align:center;font-size:18px;color:#fff;font-weight:500;padding:40px 0 16px;}
main .section_8 .text h3 a{display:block;text-align:center;font-size:12px;color:#fff;padding-right:14px;background:url('./../images/8_arrow.png')no-repeat right center;background-size:6px;width:56px;margin:0 auto;}
main .section_8 .text .ex{padding-top:20px;overflow:hidden;width: 320px;margin:0 auto;}
main .section_8 .text .ex li{float:left;width:155px;margin-bottom:10px;}
main .section_8 .text .ex li a{display:block;width: 100%;padding:12px 0 0 12px;box-sizing:border-box;border:1px solid #fff;height: 180px;}
main .section_8 .text .ex li:nth-child(2n) a{margin-left:10px;box-sizing:border-box;}
main .section_8 .text .ex li a h4{font-size:16px;color:#4400aa;}
main .section_8 .text .ex li a h5{font-size:16px;color:#fff;padding:10px 0;}
main .section_8 .text .ex li a h5 span{font-size:13px;color:#c6c5c8;vertical-align:middle;display:inline-block;margin-top:-3px;}
main .section_8 .text .ex li a h6{font-size:13px;color:#fff;line-height:20px;padding-bottom:16px;}
/*----------------------------------------------------------------------------------section_9*/
main .section_9{width: 100%;padding:0 55px;box-sizing:border-box;background: #fff;}
main .section_9 h2{font-size:18px;color:#000;font-weight:500;padding:40px 0 16px;text-align:center;}
main .section_9 .itd_slider{width: 100%;padding-bottom:70px;}
main .section_9 .itd_slider .swiper-slide img{width: 100%;}
main .section_9 .itd_slider .swiper-pagination{bottom: 40px;height: 10px;}
main .section_9 .itd_slider .swiper-pagination .swiper-pagination-bullet{width: 10px;height: 10px;background:none;border:1px solid #4400aa;box-sizing:border-box;background:#fff;opacity:1;}
main .section_9 .itd_slider .swiper-pagination .swiper-pagination-bullet-active{background:#4400aa;}
/*----------------------------------------------------------------------------------footer*/
#footer{background: #1d1f20;}
#footer .customer{background: #000;border-bottom:1px solid #555;padding:16px 16px 16px 16px;height: 45px;}
#footer .customer dt{float:left;}
#footer .customer dt a{height:45px;line-height:42px;color:#fff;display:inline-block;font-size:12px;}
#footer .customer dd{float:left;}
#footer .customer dd a{position: relative;height:45px;line-height:42px;color:#707070;display:inline-block;font-size:12px;padding:0 16px;}
#footer .customer dd a::after{content:'';position: absolute;right: 0;top:16px;width: 1px;height: 12px;background: #aaa;}
#footer .customer dd .n_a::after{background:none;}
#footer .customer.notice dd a{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;padding:0;}
#footer .customer.notice dd .banner{padding:0 14px 0 16px;}
#footer .customer.notice dd .date{float:right;}
#footer .family{background: #1d1f20;}
#footer .family .btn_family{position: relative;width: 100%;height: 35px;color:#fff;font-weight:bold;border:none;background:none;outline:none;cursor:pointer;}
#footer .family .btn_family::after{content:'';position: absolute;left: 50%;top: 14px;background: url('./../images/plus_w.png')no-repeat;width: 10px;height: 10px;background-size:10px;margin-left:74px;}
#footer .family .btn_family.on::after{background:url('./../images/ico-minus-white.png')no-repeat;background-size:10px;top:18px;}
#footer .family .family_site{background: #2d2e2f;padding:35px 0 5px;display:none;}
#footer .family .family_site .family_list{overflow:hidden;width: 320px;margin:0 auto;}
#footer .family .family_site .family_list>li{float:left;width: 50%;padding-bottom:20px;}
#footer .family .family_site .family_list>li>h2{font-size:13px;color:#919191;}
#footer .family .family_site .family_list>li>.depth2{padding-top:7px;}
#footer .family .family_site .family_list>li>.depth2 li{margin-bottom:5px;}
#footer .family .family_site .family_list>li>.depth2 li a{color:#fff;font-size:13px;}
#footer .family .family_site .family_list>li>.depth2 li a:hover{text-decoration:underline;}
#footer .footer_menu{border-top:1px solid rgba(255,255,255,0.1);border-bottom:1px solid rgba(255,255,255,0.1);padding:20px 0;}
#footer .footer_menu .menu_list{width: 260px;margin:0 auto;text-align:center;}
#footer .footer_menu .menu_list li{display:inline-block;margin-right:16px;}
#footer .footer_menu .menu_list .l_3,#footer .footer_menu .menu_list .l_5{margin-right:0;}
#footer .footer_menu .menu_list li a{color:#fff;font-size:12px;position: relative;}
#footer .footer_menu .menu_list li a::after{content:'';position: absolute;right: -11px;top: 4px;width: 1px;height: 12px;background: #fff;}
#footer .footer_menu .menu_list .l_5 a::after{background:none;}
#footer .footer_text .logo{text-align:center;margin-bottom:16px;}
#footer .footer_text .logo a{display:inline-block;width: 77px;height: 35px;background:url('./../images/f_logo.png')no-repeat;text-indent:-99999px;background-size:77px;}
#footer .footer_text .util{text-align:center;margin-bottom:16px;}
#footer .footer_text .util li{display:inline-block;text-align:center;margin-right:16px;}
#footer .footer_text .util li a{font-size:12px;color:#72b0e2;}
#footer .footer_text .util .l_1 a{color:#fff;position: relative;}
#footer .footer_text .util .l_1 a::after{content:'';position: absolute;right:-11px;top:3px;width: 1px;height: 12px;background:#fff;}
#footer .footer_text .name{text-align:center;margin-bottom:5px;}
#footer .footer_text .name li{display:inline-block;text-align:center;margin-right:16px;}
#footer .footer_text .name li a{font-size:12px;color:#888;}
#footer .footer_text .name .l_1 a{position: relative;}
#footer .footer_text .name .l_1 a::after{content:'';position: absolute;right:-11px;top:3px;width: 1px;height: 12px;background:#888;}
#footer .footer_text h2{font-size:12px;color:#888;line-height:17px;text-align:center;}
#footer .footer_text h3{font-size:12px;color:#888;line-height:17px;text-align:center;padding:16px 0;}
#footer .footer_text h3 span{text-decoration:underline;}
#footer .footer_text h4{font-size:12px;color:#888;text –      –                     à       