@font-face {
    font-family: 'BM HANNA 11yrs old';
    src: url('BMHANNA11yrsold.eot');
    src: url('BMHANNA11yrsold.eot?#iefix') format('embedded-opentype'),
        url('BMHANNA11yrsold.woff2') format('woff2'),
        url('BMHANNA11yrsold.woff') format('woff'),
        url('BMHANNA11yrsold.ttf') format('truetype'),
        url('BMHANNA11yrsold.svg#BMHANNA11yrsold') format('svg');
    font-weight: normal;
    font-style: normal;
}

