@font-face {
    font-family: 'Futura Std';
    src: url('./../fonts/FuturaStd-Light.woff2') format('woff2'),
        url('./../fonts/FuturaStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

