@charset "utf-8";
div{
	width:200px;
	height:200px;
	border:1px solid #f00;
	margin-bottom:10px;
}
.d_1{
	border-style:dashed;
}
.d_2{
	border-style:double;
	border-width:30px;
}
.d_3{
	border-color:#000;
	/*border:1px solid green;*/
	border-width:1px;
	border-style:solid;
	border-color:green;
}
.d_2{
	border:5px outset pink;
}
.d_3{
	border-top-width:2px;
	border-top-color:red;
	border-top-style:dotted;
	border-left-width:5px;
	border-right-width:10px;
	border-bottom-width:1px;
}
.d_3{
	border:1px solid red;
}
.d_3{
	border-color:black blue yellow;
}
p{
	background:gray;
	border-left:10px solid red;
	width:500px; height:50px;
	border-bottom:10px solid red;
}
/*테이블 css*/
.t_1{
	margin:0 auto;
	margin-bottom:20px;
}
.t_1, .t_1 tr th,.t_1 tr td{
	width:600px;
	border:1px solid #000;
	border-collapse:collapse;
	border-left:none;
	border-right:none;
}
.t_1 caption{
	text-align:left;
	font-size:12px;
	color:#f00;
}
.t_1 tr td{
	text-align:center;
	background:#cf0;
	height:35px;
}
.t_1 tr th{
	background:#fc0;
	height:30px;
}
/* 테이블 2번째*/
.t_2{
	margin:0 auto;
	border-collapse:collapse;
	margin-bottom:20px;
}
.t_2 caption{
	text-align:right;
	font-size:12px;
	color:#f00;
}
.t_2, .t_2 tr th, .t_2 tr td{
	width:600px;
	border:1px solid #000;
	border-left:none;
	border-right:none;
}
.t_2 tr th{
	text-align:left;
	text-indent:20px;
	background:#fc0;
	width:200px; height:35px;
}
.t_2 tr td{
	background:#cf0;
	text-indent:10px;
	width:400px; height:40px;
	padding:10px;
}
.t_2 input,.t_2 textarea
{
	border:1px solid blue;
	background:gray;
}
.t_3{
	width:600px;
	margin:0 auto;
	border-collapse:collapse;
	margin-bottom:20px;
}
.t_3 caption{
	text-align:left;
	font-size:12px;
	color:#f00;
}
.t_3 tr th,.t_3 tr td{
	background:#fc0;
	border:1px solid #000;
	border-top:none;
	border-bottom:none;
}
.t_3 tr th{
	height:30px;
}
.t_3 tr td{
	height:35px;
	text-align:center;
}
#tt_1 {
	background:#0fc;
}
.t_4{
	width:600px;
	margin:0 auto;
	border-collapse:collapse;
	border:1px solid #000;
	background:#fc0;
}
.t_4 caption{
	font-size:12px;
	text-align:left;
	color:#f00;}
.t_4 tr th{
	height:40px;
}
.c_2{
 background:#eee;
}
.c_3{
 background:#fff;
}
.c_4{
 background:#cf0;
}