@charset "UTF-8";
body{
	font-family:"맑은 고딕","malgun gothic", "돋움",dotum,sans-serif;
	font-size:14px;
}
a:link{
	color:red;
}
a{
	text-decoration:none;
}
a:hover{
	color:blue;
	font-weight:bold;
}

/*이중 class 선택자 사용*/
.box{
	width:400px;
	height:200px;
	border:1px solid #000;
	margin-bottom:20px;
}
.box1{
	background:#f00;
}
.box2{
	background:#00f;
}
.box3{
	background:#0f0;
}
/*그룹선택자*/
.box1,.box2,.box3{
	border:2px solid red;
}
/*하위선택자(자손선택자)
div p{
	color:red;
}*/

/*하위선택자(직계자식선택자)*/
body> div> p{
	color:red;
}
/*장남 선택자(인접선택자)*/
h1+h2{
	background:orange;
	}
/*속성 선택자*/
label{
	color:green;
}
input[type="text"]{
	color:red;
}
input[type="password"]{
	color:blue;
}
input[type]{
	border:1px solid red;
}
ol li a[href^="http"]{
	background:red;
}
ol li a[href$="org"]{
	color:white;
}
ol li a[href$="com"]{
	background:green;
	font-weight:bold;
}
ol li a[href*="kbs"]{
	font-size:20px;
}
/*가상선택자*/
ul li{
	background:#f2f2f2;
}
ul li:first-child{
	background:#ccc;
}
ul li:last-child{
	background:#ccc;
}
ul li:nth-child(3){
	background:pink;
}
ul li:nth-child(1){
	background:yellow;
}
ul li:nth-child(even){
	background:green;
}
ul li:nth-child(odd){
	background:lightgreen;
}
/*웹접근성에 맞춘 표 css*/
table{
	width:600px;
	margin:0 auto;
	border-collapse:collapse;
}
table{
	border:1px solid #000;
}
table caption{
	font-size:12px;
	color:#f00;
	text-align:left;
}
table tr th,table tr td{
	border:1px solid #000;
	height:30px;
}
thead{
	background:#fc0;
}
tfoot{
	background:#0cf;
}
tbody{
	background:#e4e4e4;
}
table tbody tr:nth-child(even){
	background:#f2f2f2;
}
