@charset "UTF-8";
table{
	width:700px;
	margin:0 auto;
	border-collapse:collapse;
	border-top:3px solid #FF00DD;
	border-left:none;
	border-right:none;
}
thead{
	color:#fff;
	background:#FFB2D9;
	font-size:14px;
	border-bottom:1px solid #FFB2F5;
}
thead tr th{
	height:40px;
}
tbody{
	font-size:13px;
}
tbody tr td{
	border:1px solid #000;
	border-style:dashed;
	border-left:none;
	border-right:none;
	height:30px;
}
tbody tr td{
	color:#6799FF;
	font-weight:bold;
}
tbody tr th:nth-child(2){
	color:#4C4C4C;
}
p{
	text-align:center;
}
input[type="button"]{
	background:#FFB2F5;
	color:white;
	font-weight:bold;
	border:0;
}
input[type="text"]{
	vertical-align:top;
}
tbody tr td:nth-child(1){
	text-align:center;
	color:#D5D5D5;
}
tbody tr td:nth-child(3){
	text-align:center;
	color:#A6A6A6;
	font-weight:bold;
}
tbody tr td:nth-child(4){
	text-align:center;
	color:#D5D5D5;
}
tbody tr td:nth-child(5){
	text-align:center;
	color:#D5D5D5;
}
tbody tr:nth-child(even){
	background:#FFD9FA;
}

	
