@charset 'UTF-8';
body{font-family: 'Noto Sans KR', sans-serif;}
.swiper-container{}
.swiper-container .swiper-slide{height: 720px;overflow: hidden;}
.swiper-container .swiper-slide img{}
.swiper-container .swiper-slide .swiper-slider1{position:absolute;left:50%;top:0;transform:translate(-50%);}
.swiper-container .swiper-button-prev{width: 70px;height: 70px;opacity:0.7;background:url('./../images/imgRoll_prev.png')no-repeat;}
.swiper-container .swiper-button-next{width: 70px;height: 70px;opacity:0.7;background:url('./../images/imgRoll_next.png')no-repeat;}
.swiper-container .swiper-button-prev,.swiper-container .swiper-button-next:hover{opacity:1;}
.swiper-container .swiper-pagination{padding:15px 65px 15px 31px;border-radius:45px;background:rgba(0,0,0,0.5);width: auto;position: absolute;left: 50%;transform:translate(-50%);bottom:10px;}
.swiper-container .swiper-pagination .swiper-pagination-bullet{width: 7px;height: 7px;border:2px solid #fff;background:none;outline:none;cursor:pointer;}
.swiper-container .swiper-pagination .swiper-pagination-bullet-active{opacity:1;background:#fff;}
.swiper-container .btn_play{position: absolute;left:50%;bottom:14px;width: 41px;height: 41px;background:url('./../images/play_bt.png')no-repeat;margin-left:90px;z-index:99999;text-indent:-99999px;border:none;cursor:pointer;outline:none;margin-left:55px;}
.swiper-container .btn_play.on{background:url('./../images/play_bt_on.png')no-repeat;}