@charset "UTF-8";
#wrap{}
#wrap .header{width: 100%;height: 200px;background: tomato;}
#wrap .left,#wrap .right{position: absolute;top: 0;width: 100px;height: 200px;}
#wrap .left{left: 0;background: #00cccc;}
#wrap .right{right: 0;background: lightgreen;}