@font-face {
    font-family: '';
    src: url('./../font/BinggraeA1.woff2') format('woff2'),
        url('./../font/BinggraeA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '';
    src: url('./../font/Binggrae-BoldA1.woff2') format('woff2'),
        url('./../font/Binggrae-BoldA1.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

