@charset "UTF-8";
body{
	font-family:"맑은 고딕","malgun gothic","돋움",dotum,sans-serif;
	letter-spacing:0;
}
.side_menu{
	position:fixed;
	right:10%;
	bottom:10%;
	background:url("./../images/quick_bg.png") no-repeat;
	width:141px;
	height:261px;
}
.side_menu ul{
	margin:110px auto 0;
	width:94px;
}
.side_menu ul li{
	text-align:center;
}
.side_menu ul li a{
	display:block;
	height:29px;
	line-height:29px;
	font-size:13px;
	color:#333;
}
.side_menu ul li a:hover{
	color:#fff;
	background:url("./../images/quick_hover.png")no-repeat;
}
.side_menu ul li:last-child a{
	text-indent:-99999px;
	background:url("./../images/quick_arrow.png")no-repeat center center;
	width:94px;
	height:29px;
}

.top_header{
	width:100%;
	background:#f4f4f6;
	border-top:4px solid #ff6a00;
	border-bottom:1px solid #e6e6e6;
}
.top_header .top_header_inner{
	width:1140px;
	height:45px;
	margin:0 auto;
}
.top_header .top_header_inner p{
	line-height:45px;
	float:left;
	font-size:14px;
	color:#999;
}
.top_header .top_header_inner p strong{
	font-weight:bold;
	color:#333;
}
.top_header .top_header_inner .header_menu{
	float:right;
}
.top_header .top_header_inner .header_menu .sns{
	float:left;
	margin-top:14px;
}
.top_header .top_header_inner .header_menu .sns a{
	margin-left:18px;
}
.top_header .top_header_inner .header_menu .util{
	float:right;
	margin:10px 0 0 35px;
}
.top_header .top_header_inner .header_menu .util li{
	float:left;
	margin-left:5px;
}
.top_header .top_header_inner .header_menu .util li a{
	display:block;
	height:21px;
	line-height:21px;
	font-size:13px;
	color:#666;
	border:1px solid #dedede;
	padding:0 10px;
	border-radius:5px;
	background:#fff;
}
.top_header .top_header_inner .header_menu .util li:first-child a{
	border:none;
	padding:0;
}
.top_header .top_header_inner .header_menu .util li:last-child a{
	padding-right:20px;
	background:url("./../images/ico_lang_down.gif") no-repeat 90% center;
}
.middle_header{
	width:100%;
	border-bottom:1px solid #e6e6e6;
}
.middle_header .middle_header_inner{
	width:1140px;
	height:95px;
	margin:0 auto;
}
.middle_header .middle_header_inner h1{
	float:left;
	margin-top:18px;
}
.middle_header .middle_header_inner .gnb{
	float:right;
	margin-top:25px;
}
.middle_header .middle_header_inner .gnb li{
	float:left;
	margin-left:105px;
}
.middle_header .middle_header_inner .gnb li a{
	display:block;
	height:65px;
	line-height:65px;
	font-size:18px;
	color:#222;
	font-weight:bold;
}
.middle_header .middle_header_inner .gnb li a:hover{
	border-bottom:3px solid #ff6a00;
}
.main{
	height:573px;
	background:#fcab7b url("./../images/20160903212600999093.jpg") no-repeat center top;
}
.contain{
	height:2000px;
}
.footer{
	height:184px;
	background:#fafafa;
	border-top:1px solid #e4e4e4;
}
.footer .footer_inner{
	margin:0 auto;
	width:1140px;
	height:185px;
}
.footer .footer_inner h2{
	float:left;
	margin-top:50px;
}
.footer .footer_inner .footer_info{
	float:left;
	margin:35px 0 0 50px;
}
.footer .footer_inner .footer_info .footer_util{
	overflow:hidden
}
.footer .footer_inner .footer_info .footer_util li{
	float:left;
	padding:0 12px;
	background:url("./../images/ico_foot_bar.gif") no-repeat left center;
}
.footer .footer_inner .footer_info .footer_util li a{
	font-size:14px;
	color:#333;
}
.footer .footer_inner .footer_info .footer_util li:first-child{
	background:none;
	padding-left:0;
}
.footer .footer_inner .footer_info .footer_util li:last-child a{
	font-weight:bold;
}
.footer .footer_inner .footer_info address{
	clear:both;
	margin-top:20px;
	color:#999;
	font-size:12px;
}
.footer .footer_inner .footer_info p{
	margin-top:20px;
	color:#999;
	font-size:14px;
}
.footer .footer_inner .footer_sns{
	float:right;
	margin-top:30px;
}
.footer .footer_inner .footer_sns .sns{
	float:left;
}
.footer .footer_inner .footer_sns .sns li{
	float:left;
	margin:0 15px;
}
.footer .footer_inner .footer_sns .sns li a{
	line-height:38px;
}
.footer .footer_inner .footer_sns .btn{
	float:left;
	margin-left:30px;
}
.footer .footer_inner .footer_sns .btn .btn_family{
	display:block;
	width:220px;
	height:38px;
	background:#fff;
	border:1px solid #c8c8c8;
	text-align:left;
	text-indent:10px;
	letter-spacing:-1px;
}
.footer .footer_inner .footer_sns .btn .btn_family a{
	display:block;
	line-height:38px;
	height:38px;
	background:url("./../images/ico_sel_arr.gif")no-repeat right;
}